@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  margin: 20px;
  padding: 20px;
  height: 100%;
  font-size: 16px;
  background-color: #f9f9fa;
  font-family: "Poppins, sans-serif";
}
